<!DOCTYPE html>
<html lang="en">
<head>
    <style>
table, th, td {
  border: 1px solid black;
}

    </style>
    <meta charset="UTF-8">
    <title>Teacher Directory</title>
</head>
<body>
    <h2>Teacher Directory</h2>
    {% if detail_view %}
    <h3>Teachers Details</h3>
    </br>
    <img src="/media/{{ teacher_details.profile_picture }}" height="100", width="100"/>
    </br>
    </br>
    <font size="3" face="verdana" color="grey">First Name </font>: {{ teacher_details.first_name }}</br></br>
    <font size="3" face="verdana" color="grey">Last Name </font>: {{ teacher_details.last_name }}</br></br>
    <font size="3" face="verdana" color="grey">Email </font>: {{ teacher_details.email_address }}</br></br>
    <font size="3" face="verdana" color="grey">Phone Number </font>: {{ teacher_details.phone_number }}</br></br>
    <font size="3" face="verdana" color="grey">Room Number </font>: {{ teacher_details.room_number }}</br></br>
    <font size="3" face="verdana" color="grey">Subjects Taught </font>:
    <ul>
    {% for row in teacher_details.subjects_taught.all %}
        <li>{{ row.name }}</li>
    {% endfor %}
    </ul>
    {% else %}
    {% if user.is_authenticated %}
    <h3> Login User: {{ user.username }} </h3>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        Bulk Import Teachers
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
    {% else %}
    <h3> Login User: None </h3>
    {% endif %}
    </br>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
        <tablebody>
        {% for row in teachers %}
         <tr>
            <td class="name">{{ row.first_name }}</td>
             <td class="name">{{ row.last_name }}</td>
            <td class="field">{{ row.email_address }}</td>
             <td>
                    <a href="{% url 'test' teacher_id=row.id %}">

                        View Details
                    </a>
             </td>
        </tr>
        {% endfor %}
        </tablebody>
    </table>
    {% endif %}
</body>
</html>
